{% extends '::base.html.twig' %}
{% block mainContent %}
    <div class="container">
        <div class="row">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h1 class="text-center">Representante</h1>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                          <p>El representante será la persona que tú eliges para que sea tu voz en el caso  de que no puedas hacerlo.
                          Velará por el respeto y cumplimiento de tus decisiones. <br> Debe de ser mayor de edad y con plena capacidad de obrar.</p><br>
                          <form class="form-horizontal col-md-8 col-md-offset-2">
                            <label for="">Mi representante será:</label>
                              <div class="form-group">
                                  <input type="text" class="form-control" id="" placeholder="Nombre">
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control" id="" placeholder="Apellidos">
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control" id="" placeholder="Teléfono">
                              </div>
                              <div class="form-group col-md-6">
                                  <label for="exampleInputFile">Suba su DNI por favor</label>
                                  <input type="file" id="exampleInputFile">
                                  <p class="help-block">Texto de ayuda aqui</p>
                              </div>
                              <button type="button" class="btn btn-warning col-md-2 col-md-offset-10">Siguiente</button>
                          </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
