<div id="wizard_verticle" class="form_wizard wizard_verticle">
    <ul class="list-unstyled wizard_steps">
        <li>
          <span class="step-title ">MODELO GENERAL</span>
            <a href="#step-11" class="selected">
              <span class="step_no">1</span>
            </a>
        </li>
        <li>
          <span class="step-title">OTORGANTE</span>
            <a href="#step-22" class="disabled">
              <span class="step_no">2</span>
            </a>

        </li>
        <li>
          <span class="step-title">TESTIGOS</span>
            <a href="#step-33" class="disabled">
                <span class="step_no">3</span>
            </a>
        </li>
        <li>
          <span class="step-title">REPRESENTANTE</span>
            <a href="#step-44" class="disabled">
                <span class="step_no">4</span>
            </a>
        </li>
        <li>
          <span class="step-title">ÁREAS</span>
            <a href="#step-55" class="disabled">
                <span class="step_no">5</span>
            </a>
        </li>
      </ul>

</div>
