<div class="container">
    <div class="row">
        <div class="pull-right">
            <a href="#" id="addClass"><div class="assistant_img" style="background-image: url(/img/merce.jpg)"></div></a>
        </div>
    </div>
</div>

<div class="popup-box chat-popup" id="qnimate">
    <div class="popup-head">
        <div class="popup-head-left pull-left"><img src="/img/merce.jpg" alt="iamgurdeeposahan">Merce</div>
        <div class="popup-head-right pull-right">
            <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </div>
    </div>

    <div class="popup-messages">
			<div class="direct-chat-messages">
					<!-- Message. Default to the left -->
                      <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Merce</span>
                      </div>
                      <!-- /.direct-chat-info -->
                      <img alt="iamgurdeeposahan" src="/img/merce.jpg" class="direct-chat-img"><!-- /.direct-chat-img -->
                      <div class="direct-chat-text">
                        Hola! En que puedo ayudarte?
                      </div>
					              <div class="direct-chat-info clearfix">
                        <span class="direct-chat-timestamp pull-right">3.36 PM</span>
                      </div>
                    <!-- /.direct-chat-msg -->
                  </div>
    <div class="popup-messages-footer">
        <textarea placeholder="Escribe tu mensaje" rows="10" cols="40" name="message"></textarea>
        <div class="btn-footer"></div>
    </div>
</div>
