<!-- Smart Wizard -->
<div id="wizard" class="form_wizard wizard_horizontal">
  <ul class="wizard_steps">
    <li>
      <a href="#step-1">
        <span class="step_no">1</span>
        <span class="step_descr">Salud</span>
      </a>
    </li>
    <li>
      <a href="#step-2">
        <span class="step_no">2</span>
        <span class="step_descr">Entorno</span>
      </a>
    </li>
    <li>
      <a href="#step-3">
        <span class="step_no">3</span>
        <span class="step_descr">Asuntos <br>personales</span>
      </a>
    </li>
    <li>
      <a href="#step-4">
        <span class="step_no">4</span>
        <span class="step_descr">Familia</span>
      </a>
    </li>
    <li>
      <a href="#step-5">
        <span class="step_no">5</span>
        <span class="step_descr">Papeleo</span>
      </a>
    </li>
  </ul>
</div>
<!-- End SmartWizard Content -->
