<!-- Smart Wizard -->
<div id="wizard" class="form_wizard wizard_horizontal">
  <ul class="wizard_steps">
    <li>
      <a href="/app/areas/health">
        <span class="step_no"></span>
        <span class="step_descr">SALUD</span>
      </a>
    </li>
    <li>
      <a href="/app/areas/enviroment">
        <span class="step_no"></span>
        <span class="step_descr">ENTORNO</span>
      </a>
    </li>
    <li>
      <a href="/app/areas/personal">
        <span class="step_no"></span>
        <span class="step_descr">PERSONAL</span>
      </a>
    </li>
    <li>
      <a href="/app/areas/family">
        <span class="step_no"></span>
        <span class="step_descr">FAMILIA</span>
      </a>
    </li>
    <li>
      <a href="/app/bureaucracy">
        <span class="step_no"></span>
        <span class="step_descr">PAPELEO</span>
      </a>
    </li>
  </ul>
</div>
<!-- End SmartWizard Content -->
