{% trans_default_domain 'FOSUserBundle' %}
{% extends '::base.html.twig' %}
{% block body %}
    <body class="login">
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
        {% block fos_user_content %}
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
        {% endblock fos_user_content %}
            </section>
        </div>
    </div>
    </body>
{% endblock %}