{% trans_default_domain 'FOSUserBundle' %}
{% extends '::base.html.twig' %}
{% block body %}
<body class="login">

    <div class="login_wrapper">

        <div id="register" >
            <section class="login_content">

                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                <h1>Registro</h1>
                    {{ form_widget(form) }}
                    <input class="col-md-9 btn btn-vellesa" type="submit" value="{{ 'registration.submit'|trans }}" />
                    <div class="clearfix"></div>
                    <p>Ya tienes cuenta?<a href="/user/login"> Loguea</a></p>
                {{ form_end(form) }}
              </section>
        </div>

    </div>


</body><!--row end-->

{% endblock %}