body{
  background: #F7F7F7;
  font-family: Roboto, sans-serif !important;
  color: #696666;
}
/*****HEADER*****/
.black-bg {
    background: rgb(137,96,203);
    border-bottom: 1px solid rgb(137,96,203);
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.55);
}
#logo{
  max-width: 130px;
  min-width: 70px;
  width: 60%;
  padding-bottom: 10px;
  padding-top: 10px;
}
.user-profile span{
  color: #FFFFFF;
  font-size: 1em;
  padding-left: 10px;
}
.top_nav .navbar-right{
  width: 170px;
  padding-top: 1vw;
}

#userOptions{
  color: #ffffff;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.55);
  background-color: rgba(137,96,203, 1);
  border: none;
  margin-top: 20px;

}
#userOptions > li > a:hover{
  background-color: rgba(137,96,203, 1);
  color: #ffffff;
}
#userOptions > li{
  font-size: 1.5em;
}

#userOptions i{
  padding-top: 5px;
}


.dropdown-menu > li > a{
  color: #000;
}
ul.nav{
  padding-top: 12px;
}

.top_nav .nav > li > a:focus, .top_nav .nav > li > a:hover, .top_nav .nav .open > a, .top_nav .nav .open > a:focus, .top_nav .nav .open > a:hover {
  background: transparent;
}
.toggle a{
  padding-left: 0px;
  padding-right: 0px;
}
.toggle{
  padding-left: 2px;
  padding-right: 2px;
}

header h1{
font-size: 8vh
}
h1.title2{
  text-shadow: 2px 1px 7px rgba(37, 40, 61, 0.7);
  color: #ffffff;
  font-size: 3.5vw;
}

h1{
    box-sizing: content-box;
    font-size: 7vw;
    cursor: pointer;
    border: none;
    color: rgba(237,168,94,1);
    text-align: center;
}


/***PAGINA PRINCIPAL*******/
#wizard{
  margin-top: 50px;
}
.full_container{
  padding-top: 5px;
  margin-left: 40px;
  margin-right: 40px;
}
.container-fluid{
  margin-top:10px;
}

.container-fluid > div{
  margin-right:10px;
}

button.start{
  font-size: 1.3em;
  width: 100%;
  color: white;
  min-width: 230px;

  margin-bottom: 25px;
}
button.start a{
  color: white;
}
.embed-responsive-16by9{
  padding-bottom: 46.25%;

}
.embed-responsive-16by9 iframe{
  max-height: 530px;
  box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.55);
}
h2{
  box-sizing: content-box;
  font-size: 3vw;
  cursor: pointer;
  border: none;
  color: rgba(137,96,203, 1);
  text-align: center;

}
.apartado * {
  display: inline;
}
.apartado img {
  width: 30vw;
  max-width: 300px;
}
.apartado{
  margin-top: 40px;
  margin-bottom: 30px;
}

/*******STEPS******/
#wizard{
  margin-top: 20px;

}

.wizard_steps li {
  position: relative;
  width: 20vw;
}


.step_descr{
  font-size: 10px;

}

.step-title{
  position:absolute;
  left:45px;
  top: 10px;
  width: 130px;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  opacity: 0.8;
  color: #666;
}
.step-title:hover{
  opacity: 1;
  color: #666;
}

ul.wizard_steps li a.selected:before, .step_no{
  background: rgb(137,96,203);
  width: 20px !important;
  height: 20px !important;
}
.wizard_horizontal ul.wizard_steps li a:before {
  top: 10px;
}


/*******PANELS*********/
.panel-body{
  height: auto;
}

.video{
  margin-top: 20px;
  margin-bottom: 20px;
}
/*******BUTTONS******/
.btn-vellesa{
  color: #FFFFFF;
  background-color: rgba(137,96,203,0.7);
  border-color: #adadad;
}

.btn-vellesa:hover{
  color: #FFFFFF;
  background-color: rgb(137,96,203);
  border-color: #adadad;
}



/*******RESPONSIVE*******/
@media (max-width: 992px) {
  #userOptions{
    margin-top: 0px;
  }


  h1.title2 {
    font-size: 30px;
  }
  nav > div.col-md-2{
    width: 150px;
  }


  .step-title{
    display: none;
  }
  body{
    overflow-x: hidden;
  }

  ul.nav-tabs li{
    font-size: 12px;
  }
  h2{
    font-size: 20px;
  }
}

@media (max-width: 580px) {

  .apartado >h2{
    font-size: 0.9em;
  }

  .modal{
    width: 99%;
  }
}




/************FORMS****************/

input[type="checkbox"] {

  height: 18px;
  width: 18px;
  margin-top:10px;


}

input[type="submit"]
