{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block asideContent %}
    {% include 'templates/steps.vertical.html.twig' only %}
{% endblock %}
{% block mainContent %}
        <div class="container-fluid">
            <div class="row col-md-10">
                <div>
                  <h2>Datos personales</h2>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-body">
                      {{ form_start(form, {'id': "applicant_form",'attr': {'class': 'form-horizontal col-md-8 col-md-offset-2'}}) }}
                      {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/steps.js') }}"></script>
  <script type="text/javascript">

    $(document).ready(function(){
      var steps = new Steps(2);
      steps.stepAnimation()
    });
  </script>

{% endblock %}
