{% extends '::base.html.twig' %}
{% block asideContent %}
    {% include 'templates/steps.vertical.html.twig' only %}
{% endblock %}
{% block mainContent %}
    <div class="container">
        <div class="row col-md-10">
              <div>
                <h2>Datos de los testigos</h2>
              </div>
              <div class="panel panel-warning">
                    <div class="panel-heading">
                      <ul class="nav nav-tabs">
                          <li class="active">
                              <a href="#info" data-toggle="tab">Información</a>
                          </li>
                          <li id="witness1">
                              <a href="#testigo1" data-toggle="tab">Testigo 1</a>
                          </li>
                          <li id="witness2">
                              <a href="#testigo2" data-toggle="tab">Testigo 2</a>
                          </li>
                          <li id="witness3">
                              <a href="#testigo3" data-toggle="tab">Testigo 3</a>
                          </li>
                      </ul>
                    </div>
                    <div class="panel-body">
                      <div class="tab-content">
                        <div class="tab-panel fade in active text-justify" id="info">
                                <p>Para su validez debes de contar con el soporte de tres personas que puedan reafirmar todos tus deseos y decisiones.
                                Estas tres personas deben ser mayores de edad, con plena capacidad de obrar. <br>Con dos de ellos/as no podrá haber relación matrimonial,
                                pareja de hecho, parentescos de segundo grado de consanginidad o afinidad o relación patrimonial alguna.<br>
                                EJ.(abuelos/as, hermanos/as, nietos/as, abuelos/as de cónyuge, hermanos/as de cónyuge). <br>
                                Una vez tengas claro quiénes son, rellena sus datos personales</p>
                        </div>
                        <div class="tab-panel fade" id="testigo1">
                            {% include './templates/witness/form.html.twig' with {'form': form} %}
                        </div>
                        <div class="tab-panel fade" id="testigo2">

                        </div>
                        <div class="tab-pane fade" id="testigo3">

                        </div>
                      </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/steps.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/witness.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      var steps = new Steps(3);
      steps.stepAnimation();
    });
  </script>
  <script type="text/javascript">
      function sendByAJAX(event){
            event.preventDefault();
            var name = $('#appbundle_witness_name').val();
            var surname = $('#appbundle_witness_surname').val();
            var addres = $('#appbundle_witness_addres').val();
            var cp = $('#appbundle_witness_cp').val();
            var city = $('#appbundle_witness_city').val();
            var number = $('#appbundle_witness_number').val();
            var phone = $('#appbundle_witness_phone').val();
            var representant = "0";
            var urldnifront = $('#appbundle_witness_urldnifront').val();
            var urldnibehind = $('#appbundle_witness_urldnibehind').val();

            $.ajax({
              url: "{{ path('FirstFase_witness_form') }}",
              type: 'POST',
              data: 'name='+name+'&surname='+surname+'&addres='+addres+'&cp='+cp+'&city='+city+'&number='+number+'&representant='+representant+'&phone='+phone+'&urldnifront='+urldnifront+'&urldnibehind='+urldnibehind,
            })
            .done(function(response) {
              $("#respuesta").text(response);
            })
            .fail(function() {
              console.log("error");
            })
            .always(function() {
              console.log("complete");
            });

    };
  </script>
{% endblock %}
