{% extends '::base.html.twig' %}
{% block main %}
    {% include './templates/steps.horizontal.html.twig'%}
    <div class="apartado text-center">
        <img src="{{ asset('img/ornament_left.png') }}" alt="" /><h2>SALUD</h2><img src="{{ asset('img/ornament_right.png') }}" alt="" />

        <div class="container-fluid col-md-9 col-md-offset-2">
        	<div class="row col-md-6">
		        <p></br>Como dice la canción: “Tres cosas hay en la vida: salud, dinero y amor…” y la salud no ocupa el primer lugar por casualidad. Gracias a los avances científicos en medicina se ha aumentado la esperanza de vida de las personas, pero el debate está servido: </br>
				</p>
			</div>
			
			<div class="row col-md-4">
		        <iframe width="375" height="235" src="https://www.youtube.com/embed/aVKQQcaeGgo" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>

		<div class="col-md-6 col-md-offset-3 responsiveButton">
                <a href="">
                    <button type="button" class="btn btn-warning start buttonNext">QUIERO SABER MÁS
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </a>
        </div>
    </div>
    <div>
      {#formulario  de area#}
    </div>

{% endblock %}

{% block assistantContent %}

    {% include './templates/assistant.html.twig' %}

{% endblock %}


