{% extends '::base.html.twig' %}
{% block main %}
    {% include './templates/steps.horizontal.html.twig'%}
    <div class="apartado text-center">
        <img src="{{ asset('img/ornament_left.png') }}" alt="" /><h2>ASUNTOS PENDIENTES</h2><img src="{{ asset('img/ornament_right.png') }}" alt="" />
    </div>
    <div>
      {#formulario  de area#}
    </div>

{% endblock %}
{% block assistantContent %}
  {% include './templates/assistant.html.twig'%}
{% endblock %}
