{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/formDecorator.css') }}">
{% endblock %}
{% block main %}
    {% include './templates/steps.horizontal.html.twig'%}
    <div class="apartado text-center">
        <img src="{{ asset('img/ornament_left.png') }}" alt="" /><h2>ASUNTOS PERSONALES</h2><img src="{{ asset('img/ornament_right.png') }}" alt="" />
    </div>
    <div>
      {#formulario  de area#}
    </div>

{% endblock %}
{% block assistantContent %}
  {% include './templates/assistant.html.twig'%}
{% endblock %}
{% block javascripts %}


    <script src="{{ asset('js/FormDecorator.js') }}"></script>
    <script>
        $(document).ready(function(){
            FormDecorator.addIconForInfoLabels()
            FormDecorator.setClassButtonSubmit()
        })

    </script>




{% endblock %}
